<dict>
						   <key>items</key>
						   <array>
						       <dict>
						           <key>assets</key>
						           <array>
						               <dict>
						                   <key>kind</key>
						                   <string>software-package</string>
						                   <key>url</key>
						                   <string><a xmlns="http://www.w3.org/1999/xhtml" href="https://ipa-apps.me/ipa/Unc0ver.ipa" dir="ltr" x-apple-data-detectors="true" x-apple-data-detectors-type="link" x-apple-data-detectors-result="0" style="color: currentcolor;">https://ipa-apps.me/ipa/Unc0ver.ipa</a></string>
						               </dict>
						               <dict>
						                   <key>kind</key>
						                   <string>display-image</string>
						                   <key>needs-shine</key>
						                   <true/>
						                   <key>url</key>
						                   <string><a xmlns="http://www.w3.org/1999/xhtml" href="https://ipa-apps.me/Images/unc0ver.png" dir="ltr" x-apple-data-detectors="true" x-apple-data-detectors-type="link" x-apple-data-detectors-result="1" style="color: currentcolor;">https://ipa-apps.me/Images/unc0ver.png</a></string>
						                </dict>
										<dict>
										<key>kind</key>
										<string>full-size-image</string>
										<key>needs-shine</key>
										<true/>
										<key>url</key><string>tv.shou.airshou.hello</string>    
										</dict>
						           </array>
						           <key>metadata</key>    
						           <dict>
						               <key>bundle-identifier</key>
						               <string>ipa-apps.me.Unc0verbeta</string>
						               <key>bundle-version</key>
						               <string>7.4.1</string>
						               <key>kind</key>
						               <string>software</string>
						               <key>title</key>
						               <string>Unc0ver Kurdstore</string>   
						           </dict>
						       </dict>
						   </array>
						</dict>
